<h1>Editing Book</h1>
<div class="error-box">
  <% if @book.errors.any? %>
    <span class="error-count">
      <%= @book.errors.count %>件のエラーが発生しました
    </span>
    <% @book.errors.full_messages.each do |message| %>
      <ul class="e-message">
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>
</div>
<div class="edit-form">
  <%= form_with model:@book, local: true do |f| %>
    <h4>Title</h4>
    <div class="text_field"><%= f.text_field :title %></div>
    <h4>Body</h4>
    <div class="text_field"><%= f.text_area :body %></div>
    <%= f.submit "Update Book" %>
  <% end %>
</div>
<div class="edit-action">
  <%= link_to "Show", book_path(@book) %>
  <span>|</span>
  <%= link_to "Back", books_path %>
</div>
